.hero {
  .hero__container {
    padding: 45px 65px 90px 65px;

    .hero__fig {
      width: 175px;

    }

    .hero__btn {
      width: 165px;
      height: 38px;
      font-size: 1.3rem;


    }

  }

  .hero__container__two {
    padding: 0 65px;
    grid-template-columns: 1fr 1.3fr;

    .hero__content {

      .hero__title {
        font-size: 3.8rem;
        max-width: 440px;
      }

      .hero__copy {
        font-size: 1.7rem;
        max-width: 490px;
      }

      .hero__btn__two {
        width: 265px;
        font-size: 1.3rem;
        height: 45px;
      }

    }

    .hero__fig__two {
      max-width: max-content;
    }

  }


}