.main {
  margin: 0 35px;

  .main__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: start;
    gap: 40px;
    padding: 55px 38px 70px 55px;
    max-width: 1220px;
    margin: 0 auto 35px auto;

    .main__content {

      .main__copy {
        margin: 0;
      }

    }

    .main__content--mod {
      order: -1;
    }

  }

  .main__container__two {
    max-width: 550px;
    padding: 55px 45px;
    margin: 0 auto;

    .main__content__two {

      .main__title__two {
        font-size: 2.2rem;
      }

      .main__btn {
        font-size: 1.4rem;
        width: 250px;
        height: 45px;
      }

    }

  }

}