// ### Color Primary
$Pink: rgb(255, 82, 191);

// ### Color Neutral
$Very-Pale-Cyan: rgb(235, 251, 255);
$Very-Dark-Cyan: rgb(0, 37, 46);
$GrayishBlue: rgb(128, 141, 153);

// ### Font Headings
$Family-Poppins: 'Poppins', sans-serif;

// ### Font Body, Call-to-actions
$Family-Open-Sans: 'Open Sans', sans-serif;;
